# PACS (DCM4CHEE)
# URL base del server PACS
#   - Docker sulla stessa rete: http://arc:8080/dcm4chee-arc/aets/DCM4CHEE/rs
#   - Docker con host.docker.internal: http://host.docker.internal:8080/dcm4chee-arc/aets/DCM4CHEE/rs
#   - IP diretto del server: http://192.168.1.100:8080/dcm4chee-arc/aets/DCM4CHEE/rs
PACS_BASE_URL=http://host.docker.internal:8080/dcm4chee-arc/aets/DCM4CHEE/rs

# AWS (necessario solo per modalità 'partial')
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=eu-south-1
AWS_KMS_KEY_ID=arn:aws:kms:eu-north-1:000000000000:key/your-key-id

# Anonimizzazione (opzionale, valori di default)
ANONYMIZATION_DATE_OFFSET_DAYS=30
ANONYMIZATION_TIME_OFFSET_MINUTES=40
